<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <!-- https://docs.microsoft.com/en-us/ef/ef6/fundamentals/logging-and-interception -->
    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="C:\VoterX\Debug\DBOutput.log"/>
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>
  <appSettings>
      <add key="AppFolder" value="C:\VoterX\"/>
  </appSettings>
  <connectionStrings>
    <add name="VoterDatabase"
      connectionString="data source=AESSQL4;initial catalog=SOSDataExchange;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
    <!--<add name="System" connectionString="data source=GARYC-WIN7\SQLEXPRESS2012;initial catalog=System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="System" connectionString="data source=GARYC-DT10\SQLEXPRESS;initial catalog=System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <add name="System"
      connectionString="data source=AESSQL2;initial catalog=VoterXDevSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
